body{
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #40514E;

}

h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 5.625rem;
}
h2{
  margin:0;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
  padding: 10px;

}
h3{
  color: #11999E;

}
a{
  color: #11999E;
  text-decoration: none;
  margin: 10px 20px;
}
a:hover{
  color: #EAF6F6
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
}
.top{
  background-color: #E4F9F5;


  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background: #66BFBF;
  padding: 50px 0 20px;
  
}
.h2span1{
  text-decoration: underline;
}


.bottom-cloud{
  position: absolute;
  left:300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;

}

.A420{
  line-height: 2;
}
.skill-row{
  width: 50%;
  text-align: left;
  line-height: 2;
  margin: 100px auto 100px ;
}
.netflix{
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.chill{
  width: 25%;
  float: right;
  margin-left: 30px;
}
/*.rip1{
  clear: left;
}
.rip2{
  clear:right;
}*/


.asd{
  display: inline-block;
}
.me{
  width: 12.5%;
  height: 12.5%;
  border-radius: 50%;
  margin: 50px;

}

.copy{
  color: #EAF6F6;
}
